# ---- ignr (detected: en_us.utf-8,macos,vscode) @ 2026-05-06 ----

# === macos ===
# macOS
# General
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
# Thumbnails
._*
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# === vscode ===
# VS Code
.vscode/*
!.vscode/extensions.json

# === lefthook ===
# lefthook local state
.lefthooklocal

# === go ===
# Build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
# Test coverage
coverage.*
# Go workspace
go.work
